html, body, div, head, h1, button, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(183, 255, 231);
}

#header {
    display: flex;
    background-color: navy;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    position: fixed;
    justify-content: space-between;
}

#header h3 {
    color: #fff;
    margin-left: 30px;
}

#nav {
    display: flex;
    margin-right: 30px;
}

#header a {
    flex-flow: row no-wrap;
    align-items: ;
    color: #fff;
    margin-right: 20px;
}

#content {
    padding-top: 100px;
    text-align: center;
    clear: both;
    
}

#contentbox {
    display: inline-block;
    max-width: 1600px;
    display: flex;
    margin: 20px auto;
    flex-wrap: wrap;
}

.info_box {
    padding: 20px;
    border: 1px square #000;
    background-color: #fff;
    margin-right: 25px;
    margin-top: 25px;
    text-align: center;
    border: 3px solid navy;
    border-radius: 10px;
    width: 320px;
}

.info_box h1 {
    text-align: left;
}

#myBtn {
    padding: 5px 100px;
    background-color: navy;
    border-radius: 10px;
    color: #fff;
}